* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    color: white;
}

.allcaps {
    text-transform: uppercase;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#circle {
    border: 50px solid #000080;
    background-image: url("https://cdn.discordapp.com/attachments/804880599034232883/805237383846297650/hippo-47726_1280.png");
    background-position: 50% 50%;
    background-size: 400px;
    height: 500px;
    border-radius: 50%;
    width: 500px;
    z-index: 100;
}

#first {
    background-color: #1b5f9d;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    width: 40%;
}

#footer {
    align-items: center;
    background-color: #000080;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 30px;
}

#hippo {
    color: #02bf9e;
}

#hippo-img {
    height: 500px;
    width: 400px;
    z-index: -100;
}

#primary {
    font-size: 60px;
}

#second {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    background-color: #507698;
}

#secondary {
    font-size: 25px;
}

#title {
    color: ##83a8ca;
    font-size: 20px;
}

.spacer {
    height: 20px;
}