<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>hippo</title>
        <meta name="description" content="Hippo - Self Care">
        <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/804880599034232883/805237383846297650/hippo-47726_1280.png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="column" id="first">
            <span class="allcaps" id="title">Self Care Assistant</span>
            <div class="spacer"></div>
            <p id="primary">
                <span id="hippo">Hippo</span>, ready to help night or day.
                Whenever you need.
            </p>
            <div class="spacer"></div>
            <p id="secondary">
                Hippo is private and secure. He'll make sure to check
                up on you every day to ask you how you are doing. Hippo
                can provide helpful tips to reduce anxiety and prevent
                stress. Do not be afraid to reach out for more help if
                Hippo asks you to do so. Hippo is there to talk to you
                whenever you want and don't worry, you aren't bothering him :)
                Get started <a style="color: white" href={{url_for('chat')}}> here</a>.
            </p>
        </div>
        <div class="column" id="second">
            <div id="circle"></div>
            <div id="footer">Anonymous and Secure. Detect patterns in your
                mood. Get tips and insights to better handle your life.
            </div>
        </div>
        <script src="js/scripts.js"></script>
    </body>
</html>
